.addproject{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 7%;
    height: 100vh;
  }

.addproject table, tr, th {
    width: 50%;
    padding: 1%;
    font-size: larger;
}

.addproject td{
    padding: 1%;
}

.addproject input{
    width: 100%;
    padding: 1%;
}

.addproject .loader{
    height: 100vh;
    width: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}


#signIn-btn, #signUp-btn{
    width: 100%;
    font-size: medium;
}