.projects {
  padding: 1%;
  background-color: #282c34;
  color: white;
  height: 100vh;
}

.cards {
  display: flex;
  flex-direction: row;
  height: 100px;
  width: 100%;
  padding: 2%;
  gap: 2%;
}

.project-btns {
  display: flex;
  justify-content: center;
  gap: 10%;
}
